
.error-summary,.help-block-error{
  color: #e63331;
}

.alert-danger.in,.alert-success.in, .alert-warning.in{
  margin-top: 160px;
  margin-bottom: -150px;
  opacity: 1;
}


.articleContent{
  img{
    height: auto;
  }
}