
.error-summary,.help-block-error{
  color: #e63331;
}

.alert-danger.in,.alert-success.in, .alert-warning.in{
  opacity: 1;
}


.articleContent{
  img{
    height: auto;
  }
}
.hidden{display: none;}
.Projects__card__text p{
  color: #fff
}

.Pagination .page-item.page-link--active a {
  background: #11375f;
  color: #fff;
}

.Pagination .page-item.disabled{
  display: none;
}
