@import './variables';
@import './mixins';

//layout
@import './layout/footer';
@import './layout/slider';
@import './layout/menu_top';
@import './layout/form';
@import './layout/section';
@import './layout/grid';
@import './layout/newsletter';
@import './layout/projects';
@import './layout/news';
@import './layout/text';
@import './layout/user_panel';
@import './layout/contact';
@import './layout/register';
@import './layout/project';
@import './layout/calculator';
@import './layout/partners';
@import './layout/map';
@import './layout/video';
@import './layout/owner';
@import './layout/about_us';

//components
@import './components/select';
@import './components/social_icons';
@import './components/scroll_up';
@import './components/accordion';
@import './components/card';
@import './components/invest_counter';
@import './components/count_down_timer';
@import './components/cookies';
@import './components/pagination';
@import './components/login_box';
@import './components/gallery';
@import './components/list_custom';
@import './components/buttons';
@import './components/_text_blocks';
@import './components/table';

body {
  font-family: $FONT;
  font-size: 14px;
  background-color: #eeeeee;
  color: $BLACK;
}

a {
  color: $PRIMARY;
  text-decoration: none;

  &:hover {
    color: $PRIMARY;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $PRIMARY;
  font-weight: bold;
}

strong {
  font-weight: bold;
}

h1 {
  @media (max-width: $MD) {
    font-size: 2.5rem;
  }

  @media (max-width: $XS) {
    font-size: 2rem;
  }
}

h2 {
  margin-bottom: 20px;
  font-size: 50px;

  > div,
  > span {
    color: $BLACK;
  }

  @media (max-width: $MD) {
    font-size: 2.4em;
  }
}

h3 {
  margin-bottom: 20px;
  font-size: 26px;
  line-height: 26px;
  color: $BLACK;
}

h4 {
  @media (max-width: $MD) {
    font-size: 1.2em;
  }
}

.h6,
h6 {
  font-size: 20px;
  font-weight: 400;
  color: #8d8b8e;
}

.relative {
  position: relative;
}

.lowercase {
  text-transform: none !important;
}

.Color {
  &--secondary {
    color: $SECONDARY;
  }
}

.grid {
  display: grid;
}

.no-wrap {
  white-space: nowrap;
}

p.light {
  color: #8d8b8e;
}

.color-gray {
  color: #4a474d !important;
}
