$PRIMARY: #11375f;
$PRIMARY_HOVER: #273c76;
$PRIMARY_OPACITY: rgba(17, 55, 95, 0.9);
$PRIMARY_DARKEN: #0a1b48;
$PRIMARY_LIGHTEN: #11375f;
$SECONDARY: #35a1d9;
$SECONDARY_DARKEN: #b26446;
$SECONDARY_DARKEN_2: #91492d;
$FB: #3a5192;
$ACTIVE: #7cb342;
$INACTIVE: #e65100;

$COLOR_1: #889baf;
$COLOR_2: #bfc0c0;
$COLOR_3: #ffffff;
$COLOR_4: #f2f7f9;
$COLOR_5: #030404;
$COLOR_6: #6c788d;
$COLOR_7: #b7bed1;
$COLOR_8: #e6e9f0;
$COLOR_9: #fcfcfc;
$COLOR_10: #bcc1d3;
$COLOR_11: #8692b2;
$COLOR_12: #f5f8fc;
$COLOR_13: #cee3f3;
$COLOR_14: #b6bdd1;
$COLOR_15: #dddcdf;
$COLOR_16: #ccd1de;

$COLOR_17: #d4d4d4;
$COLOR_18: #f7f7f7;
$COLOR_19: #6d6d6d;
$COLOR_20: #3d435b;

$TEXT_SHADOW: 1px 1px 0px #00000040;

$PATTERN_1: 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAH0lEQVQYV2NkQAVSjEh8KQYGhmcwATAHJAkSgHNAAgBJbgMfurLMvgAAAABJRU5ErkJggg==';

$FONT: 'Montserrat', sans-serif;

$RADIUS: 3px;

$LG: 1200px;
$TABLET: 991px;
$MD: 768px;
$SM: 576px;
$XS: 480px;
