.Count-down-timer {
  display: grid;
  grid-template-columns: repeat(5, auto);
  align-items: top;
  justify-content: center;
  grid-column-gap: 15px;
  padding: 50px 0;
  padding-top: 55px;

  @media (max-width: $TABLET) {
    grid-column-gap: 10px;
    padding-bottom: 20px;
    grid-template-columns: repeat(5, auto);
  }

  @media (max-width: $MD) {
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 10px;
  }

  @media (max-width: $SM) {
    padding-top: 25px;
  }

  > div {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 5px;
    font-size: 18px;
    color: $BLACK;
    text-align: center;
    font-weight: 600;

    @media (max-width: $MD) {
      font-size: 14px;
    }

    &:first-child {
      font-size: 24px;
      color: $BLACK;
      font-weight: bold;
      align-self: center;
      text-transform: uppercase;
      letter-spacing: 3px;
      padding-right: 100px;

      @media (max-width: 1300px) {
        padding-right: 0;
      }

      @media (max-width: $LG) {
        font-size: 16px;
      }

      @media (max-width: $TABLET) {
        font-size: 14px;
      }
    }

    span {
      color: $PRIMARY;
      text-align: center;
      font-size: 70px;
      font-weight: 200;
      line-height: 1;
      min-width: 110px;
      font-style: italic;

      @media (max-width: 1300px) {
        font-size: 60px;
      }

      @media (max-width: $LG) {
        font-size: 40px;
        min-width: 50px;
      }

      @media (max-width: $TABLET) {
        font-size: 30px;
        min-width: 50px;
      }

      @media (max-width: $MD) {
        font-size: 24px;
        min-width: 15px;
      }

      @media (max-width: $SM) {
        font-size: 20px;
        min-width: 15px;
      }
    }
  }

  &--small {
    grid-template-columns: repeat(4, auto);
    grid-row-gap: 10px;
    padding-top: 35px;
    padding-bottom: 30px;

    > div {
      font-size: 16px;

      @media (max-width: $TABLET) {
        font-size: 12px;
      }

      @media (max-width: $XS) {
        font-size: 11px;
      }
    }
  }
}

.Counter {
  .container {
    @media (max-width: $TABLET) {
      max-width: 100%;
    }
  }

  &--small {
    .Slider-counter {
      border-top-left-radius: 50px;
      border-bottom-right-radius: 150px;
      margin: 0;
      padding-left: 50px;
      margin-top: 20px;

      @media (max-width: $LG) {
        max-width: 100%;
        padding-bottom: 40px;
        padding-left: 10px;
        padding-right: 10px;
        border-bottom-right-radius: 50px;
      }

      @media (max-width: $MD) {
      }
    }

    .Slider-counter__heading {
      grid-column-start: 1;
      grid-column-end: 5;
      text-align: left !important;
    }

    .Invest-counter {
      padding-left: 50px !important;

      @media (max-width: $MD) {
        padding-left: 10px !important;
      }

      &__source {
        @media (max-width: $MD) {
          font-size: 14px;
        }
      }

      &__target {
        @media (max-width: $MD) {
          font-size: 14px;
        }
      }
    }
  }
}

.Slider-counter {
  margin-top: -150px;
  z-index: 1;
  position: relative;
  background: #fff;
  border-top-left-radius: 250px;
  border-bottom-right-radius: 250px;
  padding: 0 120px;
  padding-bottom: 40px;
  display: grid;
  position: relative;
  margin-bottom: 40px;

  @media (max-width: $TABLET) {
    padding: 0 60px;

    .Invest-counter {
      padding: 0 50px;
    }
  }

  @media (max-width: $SM) {
    margin-top: -100px;
    .Invest-counter {
      padding: 0;
    }
  }

  @media (max-width: $MD) {
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
  }

  @media (max-width: $SM) {
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding: 0 10px;
  }

  &__heading {
    @media (max-width: $MD) {
      grid-column-start: 1;
      grid-column-end: 5;
      text-align: left !important;
    }
  }

  &__buttons {
    display: grid;
    grid-template-columns: auto auto;
    position: relative;
    bottom: -60px;

    @media (max-width: $SM) {
      grid-template-columns: auto;
      grid-row-gap: 10px;
    }

    .btn {
      @media (max-width: $TABLET) {
        font-size: 12px !important;
        padding: 5px 10px !important;
      }
    }

    > div {
      &:last-child {
        text-align: right;
        padding-right: 140px;

        @media (max-width: $MD) {
          padding-right: 50px;
        }

        @media (max-width: $SM) {
          padding-right: 0px;
          text-align: left;
        }
      }

      a + a {
        margin-left: 15px;
      }
    }

    @media (max-width: $TABLET) {
      bottom: -20px;
    }
  }
}
