.Cookies {
  background: #fff;
  color: $BLACK;
  padding: 20px;
  z-index: 9;
  transition: all 1s ease;
  text-align: center;
  font-size: 13px;
  position: relative;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 50px;
  margin-bottom: 40px;

  p {
    margin: 0;

    @media (max-width: $SM) {
      font-size: 12px;
    }
  }

  &__more-btn {
    color: $PRIMARY;

    &:hover {
      text-decoration: underline;
    }
  }

  &__close-btn {
    color: $PRIMARY;
    position: absolute;
    top: 50%;
    right: 15px;
    line-height: 30px;
    text-decoration: none !important;
    font-size: 35px;
    font-weight: 200;
    transform: translate(0, -50%);

    @media (max-width: $TABLET) {
      top: 0;
      right: -10px;
    }
  }

  @media (max-width: $LG) {
    .container {
      max-width: 100%;
    }
  }
}
