@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

.Invest-counter {
  &__header {
    font-weight: 500;
    display: grid;
    grid-template-columns: auto auto;
  }

  &__source {
    color: $BLACK;
    font-size: 20px;

    @media (max-width: $XS) {
      font-size: 16px;
    }

    &__value {
      color: $PRIMARY;
    }
  }

  &__target {
    color: $BLACK;
    font-size: 20px;
    text-align: right;

    @media (max-width: $XS) {
      font-size: 16px;
    }
  }

  &__value-line-wrapper {
    background: #e0e0e0;
    border-radius: 15px;
    height: 30px;
    padding: 5px;
    position: relative;
    margin: 5px 0;

    @media (max-width: $TABLET) {
      height: 20px;
      padding: 3px;
    }
  }

  &__value-line {
    background-color: #e63331;
    border-radius: 10px;
    height: 20px;
    position: relative;
    transition: all 1s ease;

    @media (max-width: $TABLET) {
      height: 15px;
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-image: -webkit-gradient(
        linear,
        0 0,
        100% 100%,
        color-stop(0.25, rgba(0, 0, 0, 0.2)),
        color-stop(0.25, transparent),
        color-stop(0.5, transparent),
        color-stop(0.5, rgba(0, 0, 0, 0.2)),
        color-stop(0.75, rgba(0, 0, 0, 0.2)),
        color-stop(0.75, transparent),
        to(transparent)
      );
      background-image: -moz-linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(0, 0, 0, 0.2) 50%,
        rgba(0, 0, 0, 0.2) 75%,
        transparent 75%,
        transparent
      );
      z-index: 1;
      background-size: 50px 50px;
      animation: move 4s linear infinite;
      -moz-animation: move 4s linear infinite;
      -webkit-border-top-right-radius: 15px;
      -webkit-border-bottom-right-radius: 15px;
      -moz-border-radius-topright: 15px;
      -moz-border-radius-bottomright: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      -webkit-border-top-left-radius: 20px;
      -webkit-border-bottom-left-radius: 20px;
      -moz-border-radius-topleft: 20px;
      -moz-border-radius-bottomleft: 20px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
      overflow: hidden;
    }
  }

  &__footer {
    color: $COLOR-13;
    display: grid;
    grid-template-columns: auto auto;
    font-weight: 600;

    strong {
      color: $PRIMARY;
    }
  }
  &__body {
    padding-top: 10px;

    @media (max-width: $XS) {
      display: block;
    }

    &__heading {
      color: $PRIMARY;
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 14px;
    }
  }
}
