.Contact {
  padding-bottom: 0;
  position: relative;
  z-index: 2;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @media (max-width: $TABLET) {
      grid-template-columns: 1fr;
    }
  }

  &__header {
    font-size: 30px;
    line-height: 40px;
    color: #050009;
    font-weight: 700;
    margin-bottom: 70px;

    @media (max-width: $LG) {
      margin-bottom: 10px;
    }
  }

  &__map {
    width: 100%;
    height: 100%;

    @media (max-width: $LG) {
      height: 300px;
      margin-bottom: 20px;
    }

    &__btn {
      position: absolute;
      bottom: 48px;
      right: 70px;

      @media (max-width: $MD) {
        min-width: 100px !important;
      }
    }
  }

  &__map-wrapper {
    position: relative;
  }
}

.Contact-form {
  background-color: #ffffff;
  padding: 50px;
  filter: drop-shadow(0px 15px 25px rgba(5, 0, 9, 0.15));

  @media (max-width: $MD) {
    padding: 20px;
  }

  &__form-group {
    display: flex;

    @media (max-width: $SM) {
      display: block;
    }
  }

  &__socials {
    .btn {
      width: 100%;
      display: grid;
      grid-template-columns: 10px auto;
      align-items: center;
      padding-left: 15px;
      text-transform: none;

      .fa {
        font-size: 22px;
      }

      + {
        .btn {
          margin-left: 30px;

          @media (max-width: $SM) {
            margin-left: 0;
            margin-top: 20px;
          }
        }
      }
    }
  }

  &__label {
    width: 100%;
    font-size: 13px;
    font-weight: 500;

    + label {
      margin-left: 30px;

      @media (max-width: $SM) {
        margin-left: 0;
      }
    }
  }

  &__submit {
    min-width: 280px;
    font-size: 13px !important;
    text-transform: none !important;
    margin-bottom: 40px;
  }

  &__input {
    margin-top: 10px;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 30px;
    color: #050009;
    font-weight: 500;
    border-radius: 25px;
    background-color: rgba(230, 51, 49, 0);
    border: 1px solid rgba(5, 0, 9, 0.4) !important;
    border-top-left-radius: 0;
    padding-left: 20px !important;
    background-color: #ffffff;
  }
}
