.Footer {
  padding-top: 25px;
  padding-bottom: 0;
  color: $COLOR_4;
  font-size: 13px;
  overflow: hidden;

  &__link {
    color: $PRIMARY;
    font-weight: 500;
  }

  &__menu {
    list-style-type: none;
    padding: 30px 0;
    border-top: 1px solid #d6d6d7;
    margin-bottom: 0;

    &__item {
      display: inline-block;
      margin: 0 50px;

      @media (max-width: $LG) {
        margin: 0 25px;
      }

      @media (max-width: $TABLET) {
        margin: 0 15px;
      }
    }

    &__link {
      color: inherit;
      line-height: 28px;
      color: $BLACK;
      font-weight: 500;
      font-size: 15px;

      &--active {
        color: $PRIMARY;
      }
    }
  }

  &__copy {
    background-color: $BLACK;
    font-size: 13px;
    border-top-left-radius: 50px;
    display: grid;
    grid-template-columns: auto auto 50px;
    grid-column-gap: 40px;
    min-height: 70px;
    align-items: center;
    padding-left: 40px;
    position: relative;

    @media (max-width: $TABLET) {
      text-align: left;
      align-items: initial;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    @media (max-width: $SM) {
      grid-template-columns: auto;
      grid-row-gap: 10px;
    }

    &:after {
      content: '';
      position: absolute;
      background-color: $BLACK;
      top: 0;
      left: 100%;
      bottom: 0;
      width: 100vw;
    }

    > div:first-child {
      justify-self: left;
    }

    > div:not(:first-child) {
      justify-self: end;
    }
  }

  &__text {
    font-size: 13px;
  }
}
