.Menu-top {
  --size: 40px;
  background: $COLOR-3;
  padding: 20px 0;
  top: 0;
  left: 0;
  right: 10vw;
  z-index: 10;
  transition: all 0.2s ease;
  margin-top: 10px;
  position: fixed;
  filter: drop-shadow(0 0 25px rgba(170, 171, 172, 0.2));
  padding-left: 5vw;

  @media (max-width: $LG) {
    padding-top: 15px;
    padding-bottom: 15px;

    .btn__rounded {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }

  @media (max-width: 1300px) {
    left: 0;
    padding-left: 3vw;
  }

  @media (max-width: $SM) {
    margin-top: 0;
    right: 0;
    padding-right: 10px;

    &::after {
      display: none;
    }
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    padding-top: 10px;
    transform: translate(-50%);
    left: 50%;
    display: none;
  }

  &:after {
    content: '';
    width: 100px;
    height: 100%;
    background-color: #ffffff;
    border-bottom-right-radius: 50%;
    top: 0;
    position: absolute;
    left: calc(100% - 50px);
    z-index: -1;
  }

  &__logo {
    transition: all 0.2s ease;
    max-width: 195px;
    height: auto;
    fill: $PRIMARY;

    @media (max-width: 1300px) {
      max-width: 130px !important;
    }

    @media (max-width: $XS) {
      max-width: 100px !important;
    }
  }

  &--sticky {
    padding-top: 15px;
    padding-bottom: 15px;

    .Menu-top__logo {
      max-width: 130px;
    }
  }

  &__list {
    @media (max-width: $TABLET) {
      order: 1;
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  &__btn {
    margin-right: 10px;

    @media (max-width: $LG) {
      font-size: 12px !important;
      padding: 5px 10px !important;
    }

    @media (max-width: $SM) {
      grid-column-start: 1;
      grid-column-end: 7;
      margin-bottom: 14px;
    }
  }

  &__action-block {
    display: grid;
    grid-template-columns: auto 50px auto auto 50px;
    grid-column-gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: $LG) {
      grid-template-columns: auto 30px auto auto 30px;
      grid-column-gap: 17px;
    }

    @media (max-width: $TABLET) {
      justify-self: right;
      grid-template-columns: auto 30px auto auto 30px 36px;
    }

    @media (max-width: $SM) {
      justify-self: right;
      grid-template-columns: 30px auto auto 30px 36px;
    }
  }

  &__icon {
    font-size: 34px;
    color: $BLACK;
    margin-top: 5px;

    @media (max-width: $LG) {
      font-size: 22px;
    }
  }

  &__svg {
    width: 20px;

    @media (max-width: $LG) {
      width: 15px;
    }
  }

  &__chevron {
    font-size: 11px;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    color: $BLACK;
    position: absolute;
    right: -7px;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 15px;
  }

  &__inner {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    position: relative;
    grid-column-gap: 30px;

    @media (max-width: $LG) {
      grid-column-gap: 20px;
    }

    @media (max-width: $TABLET) {
      align-items: start;
      grid-template-columns: 1fr auto;
    }

    &--active {
      @media (max-width: $TABLET) {
        grid-template-columns: auto auto;
        grid-column-gap: 20px;
      }
    }
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: right;

    @media (max-width: $TABLET) {
      display: none;
    }

    @media (min-width: $TABLET) {
      display: block !important;
    }

    @media (max-width: $SM) {
      margin-top: 10px;
    }

    li {
      display: inline-block;
      margin-left: 25px;

      @media (max-width: $LG) {
        margin-left: 15px;
      }

      @media (max-width: $SM) {
        margin-left: 0;
        display: block;
        text-align: center;
        margin-bottom: 15px;
      }
    }
  }

  &__link {
    color: #050009;
    font-weight: 500;
    font-size: 15px;

    &:hover,
    &--active {
      color: $PRIMARY;
      position: relative;

      &:after {
        content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="25px" version="1.1" style="fill: red;shape-rendering:geometricPrecision; text-rendering:geometricPrecision; image-rendering:optimizeQuality; fill-rule:evenodd; clip-rule:evenodd" viewBox="0 0 1155.37 1155.39" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xodm="http://www.corel.com/coreldraw/odm/2003"><g id="Warstwa_x0020_1"><metadata id="CorelCorpID_0Corel-Layer" /><path class="fil0" d="M832.33 113.27c62.59,-34.57 108.05,-46.11 126.37,-27.81 47.98,47.98 -108.62,282.39 -349.75,523.5 -241.13,241.15 -475.52,397.73 -523.5,349.75 -18.32,-18.3 -6.76,-63.78 27.78,-126.34 -98.11,148.24 -138.85,264.32 -96.71,306.49 75.47,75.47 387.84,-114.61 697.8,-424.54 309.91,-309.91 499.99,-622.31 424.52,-697.78 -42.12,-42.17 -158.22,-1.43 -306.49,96.74l-0.03 0z" /></g></svg>');
        width: 25px;
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -12px;
        transform: rotate(45deg);
      }
    }
  }

  &__toggle-btn {
    display: none;
    font-size: 1.4em;
    background: $PRIMARY;
    border-radius: $RADIUS;
    color: #ffffff;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    margin: 0 auto;
    text-align: center;

    &:hover {
      background: $PRIMARY;
      color: $COLOR-4;
    }

    @media (max-width: $TABLET) {
      display: block;
    }
  }

  &__search-btn {
    background: $PRIMARY_LIGHTEN;
    border-radius: $RADIUS;
    color: $PRIMARY;
    font-size: 1.2em;
    text-align: center;
    width: var(--size);
    height: var(--size);
    line-height: var(--size);
    margin: 0 auto;
  }

  @media (max-width: $LG) {
    .container {
      max-width: 100%;
    }
  }

  @media (max-width: $TABLET) {
    --size: 36px;
  }
}
